cpp/build
nface/data/test/
nface/data/train/
nface/torch/dataset/
nface/local/__pycache__/
nface/local/nqueue/__pycache__/
mynet/rcnn/torch/build
glm/
glm-master.zip
glutdlls37beta.zip
cap3d/*.obj
cap3d/*.pdb
libs/*.lib
libs/*.dll
libs/*.h
cap3d/.vscode/browse.vc.db
invoice_extractor/data/
invoice_extractor/core/__pycache__/
invoice_extractor/models/__pycache__/
invoice_extractor/ocr/__pycache__/
invoice_extractor/scripts/__pycache__/
invoice_extractor/utils/__pycache__/